<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/monokai-sublime.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
    <style>
        .container {
            padding: 1em;
            margin: 1em;
        }

        .frontmatter {
            border: 1px dashed black;
            padding: 0.5em;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="frontmatter">
            <h1> POST TEMPLATE -- </h1>
            <h2> {{frontmatter.title}} </h2>
            <h5> {{frontmatter.description}} </h5>
            <p>
                Tags: {% for tag in frontmatter.tags %}
                {{ tag }}
                {% endfor %}
            </p>
        </div>
        <div class="post">
            {{postcontent | safe}}
        </div>
    </main>
    <script>hljs.highlightAll();</script>
</body>
