<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/tokyo-night-dark.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
    <link href="https://fonts.googleapis.com">
    <link href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Inter&family=JetBrains+Mono:wght@300&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <style>
        .container {
            padding: 1em;
            margin: 1em;
        }

        body {
            font-family: 'Inter', Serif;
            line-height: 1.5;
            font-size: 1rem;
        }

        .frontmatter {
            border: 1px dashed black;
            padding: 0.5em;
        }

        .tag {
            display: inline-block;
            padding-left: .25rem;
            padding-right: .25rem;
            border-radius: .375rem;
            margin-right: .25rem;
            font-size: .875rem;
            line-height: 1.25rem;
            text-decoration: none;
            --bg-opacity: 1;
            /* background-color: #e2e8f0; */
            background-color: rgba(226, 232, 240, var(--bg-opacity));
            --text-opacity: 1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        code {
            background: #efefef;
            background: var(--background);
            color: #000;
            color: var(--code);
            padding: 2.5px 5px;
            border-radius: 6px;
            font-size: 1em;
            font-family: monospace;
        }

        .footer {
            color: grey;
        }

        .navbar {
            color: grey;
        }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title> Saaru Documentation {% block title %}{% endblock %} </title>
</head>

<body>
    <main class="container">
        {% include "menubar.jinja" %}
        {% block main_template_content %}
        {% endblock %}
        {% include "footer.jinja" %}
    </main>
    <script>hljs.highlightAll();</script>
</body>
</html>
