<nav class="navbar">
  <a href="/">{{base.json.metadata.author.name}}</a> | <a href="/tags/index.html">tags</a> - <a href="/gettingstarted.html">getting started</a> - <a href="/markdown.html">markdown guide</a> - <a href="{{base.json.metadata.author.github}}">Github</a>
</nav>
