<nav class="navbar">
  <a href="/">{{base.json.metadata.author.name}}</a> | <a href="/tags">tags</a> - <a href="/gettingstarted">getting started</a> - <a href="/markdown">markdown guide</a> - <a href="{{base.json.metadata.author.github}}">Github</a>
</nav>
