{% extends "base.jinja" %}

{% block main_template_content %}
<h1> Tags </h1>
<div>
  <ul>
    {% for tag in tags %}
    <li> <a href="/tags/{{tag}}"> {{tag}}</a></li>
    {% endfor %}
  </ul>
</div>

<h1> Collections </h1>
<ul>
  {% for collection in collections %}
  <li> {{collection}}
    <ol>
      {% for post in collections[collection] %}
      <li> <a href="{{post.link}}"> {{post.frontmatter.title}}</a> </li>
      {% endfor %}
    </ol>
  </li>
  {% endfor %}
</ul>
{% endblock %}
